
.margin{width:980px;margin:0 auto;}
header{height:121px;position: relative;}
header .a1{position:absolute;top:0;bottom:0;margin:auto;display: block;width:420px;height:63px;overflow: hidden;}
header .a1 img{display: block;}
header .a2{position: absolute;left:826px;top: 100px;}

section{height:485px;}
section .main{width:778px;height:440px;margin:13px auto;border: 1px solid #efefef;box-shadow: 3px 3px 3px #f3f3f3;}
section .main h3{height:30px;border-bottom: 1px solid #efefef;font:900 16px/30px "";background:#f8f8f8;padding-left:9px;float:left;width:769px;}
section form{width:505px;float:left;padding-top:75px;}
section form div{height:30px;margin-bottom:15px;padding-left:82px;}
section form div span{display:inline-block;width:64px;font:12px "";color:#666666;text-align: right;}
section form div input{font:12px/28px "";padding-left:4px;width:228px;height:28px;border:1px solid #cccccc;}


section form .authCode{height:30px;}
section form .authCode input{width:70px;height:26px;}
section form .authCode p{display:inline-block;text-align: center;font:18px/26px "";width:60px;height:26px;background:#eeeeee;}
section form .authCode a{font:12px/26px "";display:inline-block;}

section form .radio{padding-left:152px;margin-top:20px;margin-bottom:1px;}
section form .radio input{width:11px;height:11px;}
section form .radio span{text-align:left;color:#777777;font:12px "";display: inline-block;width:210px;}
section form .radio span a{color:#3366dd;text-decoration: underline;}

section form .btn{height:37px;font:900 12px "";padding-left:96px;}
section form .btn input{margin-left:54px;width:89px;height:37px;color:#fff;border:0;background:url(../img/登陆2.jpg); }

section .right{text-align: center;position:relative;margin-top:55px;height:300px;width:272px;float:left;border-left:1px dashed #cccccc;}
section .right p{font:900 12px/36px "";margin-top:50px;}
section .right a:nth-child(2){margin-bottom:43px;color:#cc6666;display: inline-block;width:89px;height:28px;border:1px solid #f1d9a5;background:#faedd6;font:12px/28px "";}
section .right a:nth-child(4){color:#ff6600;font:14px/20px "";}
section .right span{font:12px/18px "";}

footer{border-top:2px solid #ce3c3b;height:93px;text-align: center;padding-top:15px;}
footer .top{height:24px;margin:0 auto;}
footer .top a:hover{color:red;text-decoration: underline;}
footer .top span{margin:0 8px;color:#cccccc;}
footer .bottom{margin-top:25px;color:#777777;}




